<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>EXAMPLE . Ministr Jurečka vysvětlil změny u důchodového věku</title>
    <meta content="" name="keywords">
    <meta property="og:title" content="EXAMPLE . Ministr Jurečka vysvětlil změny u důchodového věku" />
    <meta property="og:image" content="img/bg_5fa8_8.jpg" />
    <meta property="og:description" content="Buďte mezi prvními, kdo se dozví nejžhavější novinky...">
    <meta name="description" content="Buďte mezi prvními, kdo se dozví nejžhavější novinky...">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon_5ee3_4.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-16x16_1f66_5.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16_1f66_5.png">
    <link rel="mask-icon" href="./img/safari-pinned-tab_9da8_6.svg" color="#737a7c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="site-wrapper">
        <div class="site-content">
            <main class="main page" id="app">
                <section class="page__row">
                    <div class="container">
                        <div class="content-wrapper">
                            <div class="left-block">
                                <h1 class="page-title">Ministr Jurečka vysvětlil změny u důchodového věku</h1>
                                <div class="image-container">
                                    <img src="./img/bg_5fa8_8.jpg" alt="Obrázek">
                                </div>
                            </div>
                            <div class="right-block">
                                <form name="waitlist" method="post" class="form">
                                    <div class="form__header form__item">Buďte mezi prvními, kdo se dozví nejžhavější novinky!</div>
                                    <vue-slider v-model="views" :data="data" ref="avg_views" v-bind="viewsOpts" class="form__item"></vue-slider>
                                    <input type="hidden" id="waitlist_avg_views" name="waitlist[avg_views]" v-model="views" />
                                    <div class="form__slider-row form__item">
                                        <div class="form__slider-label"></div>
                                    </div>
                                    <button class="btn">
                                        <a href="https://dailyquasarnews.com/short/145500?stream_uuid=81af5dde-032a-419e-86ad-738908ae1467&trek=1">Přečtěte si zprávy</a>
                                    </button>
                                </form>
                                <div class="steps">
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Sledujte nejnovější a nejzajímavější zprávy. Přinášíme vám aktuální a důvěryhodné informace každý den.</div>
                                    </div>
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Získejte ověřené a spolehlivé informace. Naše zprávy vám pomohou lépe porozumět světu kolem vás.</div>
                                    </div>
                                    <div class="steps__item">
                                        <div class="steps__icon">
                                            <svg viewBox="0 0 24 24">
                                                <path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z" />
                                            </svg>
                                        </div>
                                        <div class="steps__label">Buďte vždy o krok napřed. Díky našim zprávám nezmeškáte žádné důležité události.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        
        <div class="footer" style="z-index: 99999;">
            <span class="footer__item" id="cname">©2025 EXAMPLE. Všechna práva vyhrazena</span>
            <span class="footer__item" id="address">Anschrift: Nám. Republiky 1078/1, 110 00 Petrská čtvrť</span>
            <span class="footer__item" id="email">Email: info@example.com</span>
            <span class="footer__item" id="phone">Telefon: +420225774487</span>
            <a href="policy.html">Zásady ochrany osobních údajů</a>
        </div>
 
        
    <script src="./js/vendor_2bb2_2.js"></script>
    <script src="./js/main_fcd1_3.js"></script>
    

</body>

</html>